div.loading_wrapper {
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.9;
	position: absolute;
	z-index: 9999;	
	text-align: center;
	margin: auto;
}
	div.loading {
		background: url('../images/ajax-loader.gif') no-repeat 50% 30%;
		border: 1px solid #ccc;
		height: 00px;
		width: 300px;
		margin: auto;
		margin-top: 200px;
		padding: 100px;
		font-size: 24px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
	}
